.main{

height: 100vh;
/* border: 2px solid red; */
display: flex;
justify-content: center;
margin-right: 5px;
/* position: fixed;
width: 16.66%; */


}

.papper{
    display: flex;
justify-content: center;
width: 100%;
}