.ml2{
    margin-left: 3em !important;
}

.flexCenter{
    display: flex;
  justify-content: center;
  align-items: center;
  }

.placeBottomleft
{
        position: fixed !important;
        bottom: 2em !important;
        left: 20em !important;
}

.placeBottomRight
{
        position: fixed !important;
        bottom: 2em !important;
        right: 7em !important;
}

.bottom{
        position: fixed !important;
        bottom: 2em !important;
        width: 100%;
}
.rightAlign{
    position: fixed !important;
    right: 2em;
}
.leftAlign{
    position: fixed;
    left: 2em;
}